.reveal section img {
	border: 0px;
	box-shadow: none;
	background: transparent;
}

.reveal p {
	margin-bottom: 20px;
}

html.healthcare-is-broken body .reveal{
	background-color: #2f99ba;
}

html.meet-joe body .reveal {
	background-color: #7c102a;
	color: #9EC0C0;
}

html.meet-joe body .reveal h1 {
	color: #D04A5E;
}

html.joe-in-er body .reveal {
	background-color: #7c102a;
	color: #9EC0C0;
}

html.joe-in-er body .reveal img {
	zoom: 1.6;
	margin-top: -50px;
}

html.hie body .reveal {
	background-color: #89a342;
	color: white;
}

html.hie-network body .reveal {
	background-color: #89a342;
	color: white;
}

html.insights body .reveal {
	background-color: #cf324e;
	color: #9EC0C0;
}

html.team body .reveal {
	background-color: #edaa1e;
	color: #1e2834;
}

html.care-evolution body .reveal {
	background-color: #fff;
}